.ant-tabs-tab {
  color: rgba(255, 255, 255, 0.6) !important;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06) !important;
}

.ant-tabs {
  height: 100%;
}
